.section {
    padding: 5rem 0;
}

.headerRow{
    border-bottom: 1px solid #dee2e6;
}
.imageRow{
    height: 352px;
}
.header{
    height: 54vh;
    /* min-height: 650px; */
    min-height: 405px;
    border-bottom: 1px solid #dee2e6;
    margin-top: 120px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* min-width: 992px !important; */
    
}

.infos{
    /* padding-left: 10ex; */
    padding: 1em;
    margin-top: 6em;
}

.section-title {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
}
  
.boarder {
    margin: 1.0rem;
}

.col-sm li {
    display: block;
}

.col-sm li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f26e";
    font-family: bootstrap-icons !important;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.col-md-4 {
    padding: 1em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

.text-center {
    text-align: center !important;
  }
  .w-100 {
    width: 100% !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

.joinCard{
    border-color: #198754;
}
/* 
.img-holder {
    height: 100%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0px;

    width: 100%;
    max-width: 620px;
    -webkit-filter: drop-shadow(0 -4px 20px rgba(206, 212, 218, 0.4));
            filter: drop-shadow(0 -4px 20px rgba(206, 212, 218, 0.4));
    margin-left: auto;
    margin-right: -2rem;
  }




.img-wrapper .overlay .overlay-infos {
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    color: #fff;
  }
  
  .img-wrapper .overlay .overlay-infos h5 {
    margin-bottom: 15px;
  }
  
  .img-wrapper .overlay .overlay-infos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  
  .img-wrapper .overlay .overlay-infos a:hover {
    background: #fff;
    color: #ff7a57;
  }
  
  .img-wrapper:hover .overlay, .img-wrapper:active .overlay {
    bottom: 0;
    visibility: visible;
    opacity: 1;
  }
  
  .img-wrapper:hover .overlay .overlay-infos, .img-wrapper:active .overlay .overlay-infos {
    top: 50%;
  }
  .contact .contact-infos {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-left: 30px;
    min-width: 350px;
  }
  
  .contact .contact-infos .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  .contact .contact-infos .item i {
    display: block;
    width: 40px;
    font-size: 16px;
    color: primary;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #ff7a57;
    line-height: 34px;
    text-align: center;
    padding: 0 !important;
    color: #ff7a57;
    margin-right: 15px;
  }
  
  .contact .contact-infos .item div {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .contact .contact-infos .item div h5 {
    margin-bottom: 10px;
    opacity: .9;
  }
  
  .contact .contact-infos .item div p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 4px;
  }
  .header .container .infos {
    margin-top: 120px;
  }
  
  .header .container .infos .subtitle {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 500;
  }
  
  .header .container .infos .title {
    margin-bottom: 0px;
    font-size: 74px;
    font-weight: bold;
  }
  
  .header .container .infos p {
    margin-top: -5px;
    font-size: 22px;
  }
  
  .header .container .infos .btn {
    display: inline-block;
    margin: 0 2px;
  } */