
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/app.css">
  </head>

  <body>
    <!-- <div style="margin-top: 200px; text-align: center; color: white; ">
      <h1> The page you were looking for does not exist</h1>
      <a style="
      color: white;
      margin-top: 20px;
      background: #337ab7;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 10px;" href="/"> Home page </a>
    </div> -->
    <!-- <body> -->
          <div id='stars'></div>
          <div id='stars2'></div>
          <div id='stars3'></div>
          <div id='title'></div>
    <!-- </body> -->
    <!-- <h1> The page you were looking for does not exist</h1> -->
    
      <h1 style="color: white; text-align: center; margin-top: 200px;"> The page you were looking for does not exist</h1>
      <a style="
      color: white;
      margin-top: 20px;
      background: #337ab7;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 48%;
      border-radius: 10px;" href="/"> Home page </a>

  </body>

</html>

<!-- <div style="margin-top: 200px; text-align: center; color: white;">
  <h1> Sorry, the page you were looking for does not exist</h1>
  <a class="btn btn-primary"  href="/" style="background: #337ab7; margin-left: 208px;"> Home </a>
</div> -->